.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: #e0e2e6;
}

.header{
  height: 15%;
  text-align: center;
  color: #7c7e7f;
}

.banner{
  background-color: #adc7dc;
  height: 15%;
  width: 100%;
  padding: 5px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 10s linear;
  }
}

.App-header {

  background-color: #272b32;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.body {
  width: 100%;
  height: auto;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 50px;
  color: #00205b;
  margin-top: 30px;
  margin-bottom: 60px;
  font: "Times New Roman";
}

.description{
  text-align: left;
}

.chef_owl{
  height: 1000px;
}

